.node {
  background: blue; }

.hidden {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

#processmodel-content {
  min-height: 500px;
  background: #eaeaea;
  position: relative; }

#logreplay-control {
  margin-top: 20px; }

.processmodel.logreplay svg {
 
}
.processmodel svg {
 
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px; }
  .node rect:hover {
    fill: lightsteelblue; }
  .node rect div:hover {
    background: lightsteelblue; }

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px; }
  .edgePath path:hover {
    stroke: royalblue;
    stroke-width: 2.5px; }

.tokens circle {
  stroke: black;
  stroke-width: 0.5px; }
  .tokens circle:hover {
    stroke-width: 2px; }

.attr-color {
  width: 20px;
  height: 20px; }
