.graph > polygon {
    fill: transparent;
}
.processmodel-content {
  min-height: 500px;
  background: #eaeaea !important;
  position: relative; }


/* ============== FOR NODE =============== */
.graph .node{
	cursor: pointer;
}
.graph .node path {
    fill: white;
}
.graph .node.found path {
    fill: #FFC107;
    stroke: #FF9800;
    stroke-width:5px;
}
.graph .node.found polyline {
    stroke: #FF9800;
    stroke-width:5px;
}
.graph .node path {
    fill: white;
}
.graph .node:hover path {
    fill: #00BCD4;  
    stroke: #0099AD !important;
    stroke-width:5px;
}
.graph .node:hover polyline {
    stroke: #0099AD !important;
    stroke-width:5px;
}
.graph .node:hover text {
    fill: white;
}
.graph .node:hover polyline,
.graph .node:hover path{
    stroke: white;
}

/* ============== FOR EDGE =============== */
.graph .edge{
  cursor: pointer;
}
.graph .edge:hover path {
    stroke: #673AB7;  //violet
    stroke-width: 3px;
}
.graph .edge:hover polygon{
    stroke: #673AB7;
    fill: #673AB7;
}