<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Page Title</title>
	</head>
	<body>
		<h1 layout:fragment="header">Test Header asem </h1>
		<div layout:fragment="content" class="container">
			<p th:text="${message}"></p>
		</div>
	</body>
</html>