<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head></head>
  <body>
    <div th:fragment="template">
      <script type="text/x-handlebars-template" id="arc-template">
        {{#is isLogReplay false}}
          {{#is type "heuristic"}}
            {{formatNumber frequency.absolute '0,0'}}<br/>
            {{formatNumber dependency '0,0.00'}}
          {{/is}}

          {{#is type "fuzzy"}}

          {{/is}}

		  {{#is type 'timegap'}}
			<h5>{{meanNonSuccessive}}</h5>
		  {{/is}}
		{{/is}}
      </script>

      <script type="text/x-handlebars-template" id="node-template">
        <b>{{label}}</b>
        {{#is isLogReplay false}}
          {{#is type "heuristic"}}
            <br/>
            {{formatNumber frequency.absolute '0,0'}}
          {{/is}}

          {{#is type "fuzzy"}}

          {{/is}}
        {{/is}}
      </script>

      <script type="text/x-handlebars-template" id="archovertooltip-template">
        <h4>{{source}} -> {{target}}</h4>
      </script>

      <script type="text/x-handlebars-template" id="nodehovertooltip-template">
        <h4>{{label}}</h4>
      </script>

      <script type="text/x-handlebars-template" id="nodeclicktooltip-template">
        <h4>{{label}}</h4>

        {{#if isLogReplay}}
        <!-- <table class="ui celled table">
          <thead>
            <tr>
              <th class="uk-text-center" colspan="2">Key Performance Indicator</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>KPI 1</td>
              <td>0</td>
            </tr>
          </tbody>
        </table> -->
        {{/if }}
		
        {{#is type "heuristic"}}
        <table class="ui celled table">
          <tbody>
            <tr>
              <td>Absolute</td>
              <td>{{formatNumber frequency.absolute '0,0'}}</td>
            </tr>
          </tbody>
        </table>
        {{/is}}

        {{#is type "timegap"}}
          this is timegap
        {{/is}}
      </script>
      
      <script type="text/x-handlebars-template" id="arcclicktooltip-template">
        <h4>{{source}} -> {{target}}</h4>

        {{#if isLogReplay}}
        <!-- <table class="ui celled table">
          <thead>
            <tr>
              <th class="uk-text-center" colspan="2">Key Performance Indicator</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>KPI 1</td>
              <td>0</td>
            </tr>
          </tbody>
        </table> -->
        {{/if }}
    
        {{#is type "heuristic"}}
        <table class="ui celled table">
          <tbody>
            <tr>
              <td>Frequency</td>
              <td>{{formatNumber frequency.absolute '0,0'}}</td>
            </tr>
            <tr>
              <td>Dependency</td>
              <td>{{formatNumber dependency '0,0.00'}}</td>
            </tr>
            <tr>
              <td>Duration</td>
              <td>{{formatDuration duration.total}}</td>
            </tr>
          </tbody>
        </table>
        {{/is}}

        {{#is type "timegap"}}
          this is timegap
        {{/is}}
      </script>

      <script type="text/x-handlebars-template" id="tokentooltip-template">
        <table class="ui fixed table">
          <tbody>
            <tr>
              <td><h4>Case ID</h4></td>
              <td><h4>{{ caseId }}</h4></td>
            </tr>
            <tr>
              <td>Source</td>
              <td>{{ source }}</td>
            </tr>
            <tr>
              <td>Destination</td>
              <td>{{ target }}</td>
            </tr>
            <tr>
              <td>Start</td>
              <td>{{ formatDate startOriginal 'YYYY-MM-DD hh:mm:ss'}}</td>
            </tr>
            <tr>
              <td>Complete</td>
              <td>{{ formatDate completeOriginal 'YYYY-MM-DD hh:mm:ss'}}</td>
            </tr>
            {{#is tokensGroup.length ">" 1}}
            <tr>
              <td>Case IDs</td>
              <td>
                <div class="ui list">
                {{#each tokensGroup}}
                  <div class="item">
                    <div class="ui avatar image caseId_{{caseId}}"></div>
                    <div class="content">
                      {{caseId}}
                    </div>
                  </div>
                {{/each}}
                </div>
              </td>
            </tr>
            {{/is}}
            <!-- <tr>
              <th class="uk-text-center" colspan="2">Attributes</th>
            </tr> -->
            {{#each attributes}}
            <tr>
              <td>{{ name }}</td>
              <td>
                {{#is type "string"}}
                  <span class="{{ class }} pull-left attr-color"></span>
                {{/is}}
                {{ value }}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </script>
    </div>
  </body>
</html>
