<!DOCTYPE html>
<html layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<title th:text="#{schedule.management}">작업 관리</title>
		<link rel="stylesheet" th:href="@{/bab/modules/schedule/schedule.css}"/>
		<link rel="stylesheet" th:href="@{/bower_components/nouislider/distribute/nouislider.min.css}"/>
		<!-- 		<link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.css}"/> -->
		<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.css}"/>
		<style>
			#SummaryTable {
			width: 100% !important;
			}
			#SummaryTable > thead > tr > th {
			text-align: left !important;
			}
			table {
			border-collapse: collapse;
			}
			/* 			#report_s, #report_s td {     */
			/* 			border: 1px solid #333333; */
			/* 			text-align: left; */
			/* 			padding: 10px; */
			/* 			} */
			/* 			.node { */
			/* 			cursor: pointer; */
			/* 			} */
			/* 			.node circle { */
			/* 			fill: #fff; */
			/* 			stroke: steelblue; */
			/* 			stroke-width: 3px; */
			/* 			} */
			/* 			.node text { */
			/* 			font: 12px sans-serif; */
			/* 			} */
			.link {
			fill: none;
			stroke: #ccc;
			stroke-width: 2px;
			}
		</style>
	</head>
	<body>
		<div id="app" layout:fragment="content" class="ui grid">
			<div>
				<div class="sixteen wide column">
					<div class="ui segment">
						<loader :isactive="isProcessing"></loader>
						<div class="ui input">
							<form>
								<input type="date" id="date_timepicker_start" placeholder="시작 날짜" />
								<input type="date" id="date_timepicker_end" placeholder="종료 날짜" />
								<select id="filter" class="ui dropdown">
									<option value="PLNPRC_CD">PLNPRC_CD</option>
									<option value="PRD_KND">PRD_KND</option>
									<option value="STL_CD">STL_CD</option>
									<option value="GRD_CD">GRD_CD</option>
									<option value="USR_ID">USR_ID</option>
									<option value="SPC_NO">SPC_NO</option>
									<option value="THICK">THICK</option>
									<option value="WIDTH">WIDTH</option>
									<option value="CUST_ID">CUST_ID</option>
								</select>
								<input type="text" id="searchWord" placeholder="Keyword" />
							</form>
						</div>
						<button class="ui primary button" v-on:click="filterBtn" th:text="#{common.search}">조회</button>
						<div style="display: inline-block">
							<select class="ui dropdown" id="optscheduling">
								<option value="1">Average</option>
								<option value="2">Neural Network</option>
								<option value="3">Decision Tree</option>
							</select>
							<button class="ui primary button" v-on:click="reschedule">Schedule</button>
							<button class="ui primary button" v-on:click="forcereschedule">Reschedule</button>
						</div>
					</div>
				</div>
				<br/>
				<div class="small ui basic buttons" style="vertical-align: middle; margin:0 auto;">
					<div class="field">
						<div class="ui compact icon buttons">
							<a class="ui button" v-on:click="scaleToFit">
							<i class="compress icon"></i>
							</a>
							<a class="ui button" v-on:click="scaleToActual">
							<i class="expand icon"></i>
							</a>
						</div>
					</div>
					<div class="field">
						<div class="ui compact icon buttons">
							<a class="ui button" v-on:click="zoomOutSched">
							<i class="minus square outline icon"></i>
							</a>
							<a class="ui button" v-on:click="zoomInSched">
							<i class="plus square outline icon"></i>
							</a>
							<a class="ui button" v-on:click="sortMachine">
							<i class="sort icon"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--  schedule -->
			<table style="margin-top: 20px; width: 100%">
				<td valign="top" style="width:150px; background: #fff; box-shadow: rgba(34, 36, 38, 0.15) 0px 1px 2px 0px; border: 1px solid rgba(34,36,38,.15); padding: 5px; height: 600px">
					<table>
						<tr>
							<td valign="top" style="border-bottom: 1px solid black"><b>KPI Dashboard</b></td>
						</tr>
						<tr>
							<td>
								<div id='kpi'></div>
							</td>
						</tr>
					</table>
				</td>
				<td valign="top">
					<table style="width:100%">
						<tr>
							<td colspan="4">
								<div style="width: 100%; border: 1px solid rgba(34,36,38,.15)"></div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<svg id='controltop' class='chart' role='img' width='1300' height='50' preserveAspectRatio='none' viewBox='0 0 900 50'></svg>
							</td>
							<td></td>
							<td>
								<b>DRTCOI_NO</b>
								<div class="ui mini buttons">
									<button class="ui button active" v-on:click="allDisable">dislabe all</button>
									<div class="or"></div>
									<button class="ui positive button" v-on:click="allEnable">eanble all</button>
								</div>
							</td>
						</tr>
						<tr>
							<td style='width: 100px; padding-left: 10px'>
								<svg id='controlleft' class='chart' role='img' width='100' height='750' preserveAspectRatio='none' viewBox='0 0 100 500'></svg>
							</td>
							<td>
								<svg id='schedule' class='chart' role='img' width='1300' height='750' preserveAspectRatio='none' viewBox='0 0 900 500'></svg>
							</td>
							<td style="vertical-align: top">
								<div id="vslider" style="height: 470px; margin-left: 10px"></div>
							</td>
							<td style="vertical-align: top; padding-left: 30px">
								<div id='listdrtcoi' style='max-height: 750px; overflow: auto'></div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td width="700px">
								<div id="hslider"></div>
							</td>
						</tr>
					</table>
				</td>
			</table>
			<!-- datatables -->
			<div class="sixteen wide column">
				<table id="standard_form" class="ui celled structured table blue striped center aligned selectable">
					<thead style="border-bottom: black solid 1px;background-color: #F9F2FF;">
						<tr>
							<td>-</td>
							<td colspan="17"><strong>&lt; 포 항 공 장 &gt;</strong></td>
							<td rowspan="3">이송</td>
							<td colspan="10"><strong>&lt; 시 흥 공 장 &gt;</strong></td>
						</tr>
						<tr>
							<td rowspan="2">
								구분
							</td>
							<td>투입예정량</td>
							<td colspan="2">PPL</td>
							<td colspan="4">WSL</td>
							<td colspan="4">CRM</td>
							<td rowspan="2">ANN</td>
							<td colspan="4">SSL</td>
							<td rowspan="2">PKG</td>
							<td>WSL</td>
							<td colspan="3">CRM</td>
							<td rowspan="2">ANN</td>
							<td colspan="4">SSL</td>
							<td rowspan="2">PKG</td>
						</tr>
						<tr>
							<td>(스케줄 확정분)</td>
							<td>#1</td>
							<td>#2</td>
							<td>#1</td>
							<td>#2</td>
							<td>#3</td>
							<td>#4</td>
							<td>#1</td>
							<td>#2</td>
							<td>#3</td>
							<td>SPM</td>
							<td>#1</td>
							<td>#2</td>
							<td>#3</td>
							<td>#4</td>
							<td>#1</td>
							<td>#1</td>
							<td>#2</td>
							<td>#3</td>
							<td>#1</td>
							<td>#2</td>
							<td>#3</td>
							<td>#4</td>
						</tr>
					</thead>
						<!-- 
						<tr>
							<td>일처리량</td>
							<td id="daily-scheduledAmount">0</td>
							<td id="daily-pohang-pp-1">0</td>
							<td id="daily-pohang-pp-2">0</td>
							<td id="daily-pohang-ws-1">0</td>
							<td id="daily-pohang-ws-2">0</td>
							<td id="daily-pohang-ws-3">0</td>
							<td id="daily-pohang-ws-4">0</td>
							<td id="daily-pohang-cr-1">0</td>
							<td id="daily-pohang-cr-2">0</td>
							<td id="daily-pohang-cr-3">0</td>
							<td id="daily-pohang-cr-spm">0</td>
							<td id="daily-pohang-an-1">0</td>
							<td id="daily-pohang-ss-1">0</td>
							<td id="daily-pohang-ss-2">0</td>
							<td id="daily-pohang-ss-3">0</td>
							<td id="daily-pohang-ss-4">0</td>
							<td id="daily-pohang-pk-1">0</td>
							<td id="daily-transfer-1">0</td>
							<td id="daily-siheung-ws-1">0</td>
							<td id="daily-siheung-cr-1">0</td>
							<td id="daily-siheung-cr-2">0</td>
							<td id="daily-siheung-cr-3">0</td>
							<td id="daily-siheung-an-1">0</td>
							<td id="daily-siheung-ss-1">0</td>
							<td id="daily-siheung-ss-2">0</td>
							<td id="daily-siheung-ss-3">0</td>
							<td id="daily-siheung-ss-4">0</td>
							<td id="daily-siheung-pk-1">0</td>
						</tr>
						<tr>
							<td>현재공</td>
							<td id="nowWIP-scheduledAmount">0</td>
							<td id="nowWIP-pohang-pp-1">0</td>
							<td id="nowWIP-pohang-pp-2">0</td>
							<td id="nowWIP-pohang-ws-1">0</td>
							<td id="nowWIP-pohang-ws-2">0</td>
							<td id="nowWIP-pohang-ws-3">0</td>
							<td id="nowWIP-pohang-ws-4">0</td>
							<td id="nowWIP-pohang-cr-1">0</td>
							<td id="nowWIP-pohang-cr-2">0</td>
							<td id="nowWIP-pohang-cr-3">0</td>
							<td id="nowWIP-pohang-cr-spm">0</td>
							<td id="nowWIP-pohang-an-1">0</td>
							<td id="nowWIP-pohang-ss-1">0</td>
							<td id="nowWIP-pohang-ss-2">0</td>
							<td id="nowWIP-pohang-ss-3">0</td>
							<td id="nowWIP-pohang-ss-4">0</td>
							<td id="nowWIP-pohang-pk-1">0</td>
							<td id="nowWIP-transfer-1">0</td>
							<td id="nowWIP-siheung-ws-1">0</td>
							<td id="nowWIP-siheung-cr-1">0</td>
							<td id="nowWIP-siheung-cr-2">0</td>
							<td id="nowWIP-siheung-cr-3">0</td>
							<td id="nowWIP-siheung-an-1">0</td>
							<td id="nowWIP-siheung-ss-1">0</td>
							<td id="nowWIP-siheung-ss-2">0</td>
							<td id="nowWIP-siheung-ss-3">0</td>
							<td id="nowWIP-siheung-ss-4">0</td>
							<td id="nowWIP-siheung-pk-1">0</td>
						</tr>
						 -->
						<tr>
							<td>1일차</td>
							<td id="first-scheduledAmount"></td>
							<td id="first-pohang-pp-1">0</td>
							<td id="first-pohang-pp-2">0</td>
							<td id="first-pohang-ws-1">0</td>
							<td id="first-pohang-ws-2">0</td>
							<td id="first-pohang-ws-3">0</td>
							<td id="first-pohang-ws-4">0</td>
							<td id="first-pohang-cr-1">0</td>
							<td id="first-pohang-cr-2">0</td>
							<td id="first-pohang-cr-3">0</td>
							<td id="first-pohang-cr-spm">0</td>
							<td id="first-pohang-an-1">0</td>
							<td id="first-pohang-ss-1">0</td>
							<td id="first-pohang-ss-2">0</td>
							<td id="first-pohang-ss-3">0</td>
							<td id="first-pohang-ss-4">0</td>
							<td id="first-pohang-pk-1">0</td>
							<td id="first-transfer-1">0</td>
							<td id="first-siheung-ws-1">0</td>
							<td id="first-siheung-cr-1">0</td>
							<td id="first-siheung-cr-2">0</td>
							<td id="first-siheung-cr-3">0</td>
							<td id="first-siheung-an-1">0</td>
							<td id="first-siheung-ss-1">0</td>
							<td id="first-siheung-ss-2">0</td>
							<td id="first-siheung-ss-3">0</td>
							<td id="first-siheung-ss-4">0</td>
							<td id="first-siheung-pk-1">0</td>
						</tr>
						<tr>
							<td>2일차</td>
							<td id="second-scheduledAmount"></td>
							<td id="second-pohang-pp-1">0</td>
							<td id="second-pohang-pp-2">0</td>
							<td id="second-pohang-ws-1">0</td>
							<td id="second-pohang-ws-2">0</td>
							<td id="second-pohang-ws-3">0</td>
							<td id="second-pohang-ws-4">0</td>
							<td id="second-pohang-cr-1">0</td>
							<td id="second-pohang-cr-2">0</td>
							<td id="second-pohang-cr-3">0</td>
							<td id="second-pohang-cr-spm">0</td>
							<td id="second-pohang-an-1">0</td>
							<td id="second-pohang-ss-1">0</td>
							<td id="second-pohang-ss-2">0</td>
							<td id="second-pohang-ss-3">0</td>
							<td id="second-pohang-ss-4">0</td>
							<td id="second-pohang-pk-1">0</td>
							<td id="second-transfer-1">0</td>
							<td id="second-siheung-ws-1">0</td>
							<td id="second-siheung-cr-1">0</td>
							<td id="second-siheung-cr-2">0</td>
							<td id="second-siheung-cr-3">0</td>
							<td id="second-siheung-an-1">0</td>
							<td id="second-siheung-ss-1">0</td>
							<td id="second-siheung-ss-2">0</td>
							<td id="second-siheung-ss-3">0</td>
							<td id="second-siheung-ss-4">0</td>
							<td id="second-siheung-pk-1">0</td>
						</tr>
						<tr>
							<td>3일차</td>
							<td id="thirth-scheduledAmount"></td>
							<td id="thirth-pohang-pp-1">0</td>
							<td id="thirth-pohang-pp-2">0</td>
							<td id="thirth-pohang-ws-1">0</td>
							<td id="thirth-pohang-ws-2">0</td>
							<td id="thirth-pohang-ws-3">0</td>
							<td id="thirth-pohang-ws-4">0</td>
							<td id="thirth-pohang-cr-1">0</td>
							<td id="thirth-pohang-cr-2">0</td>
							<td id="thirth-pohang-cr-3">0</td>
							<td id="thirth-pohang-cr-spm">0</td>
							<td id="thirth-pohang-an-1">0</td>
							<td id="thirth-pohang-ss-1">0</td>
							<td id="thirth-pohang-ss-2">0</td>
							<td id="thirth-pohang-ss-3">0</td>
							<td id="thirth-pohang-ss-4">0</td>
							<td id="thirth-pohang-pk-1">0</td>
							<td id="thirth-transfer-1">0</td>
							<td id="thirth-siheung-ws-1">0</td>
							<td id="thirth-siheung-cr-1">0</td>
							<td id="thirth-siheung-cr-2">0</td>
							<td id="thirth-siheung-cr-3">0</td>
							<td id="thirth-siheung-an-1">0</td>
							<td id="thirth-siheung-ss-1">0</td>
							<td id="thirth-siheung-ss-2">0</td>
							<td id="thirth-siheung-ss-3">0</td>
							<td id="thirth-siheung-ss-4">0</td>
							<td id="thirth-siheung-pk-1">0</td>
						</tr>
						<tr>
							<td>4일차</td>
							<td id="fourth-scheduledAmount"></td>
							<td id="fourth-pohang-pp-1">0</td>
							<td id="fourth-pohang-pp-2">0</td>
							<td id="fourth-pohang-ws-1">0</td>
							<td id="fourth-pohang-ws-2">0</td>
							<td id="fourth-pohang-ws-3">0</td>
							<td id="fourth-pohang-ws-4">0</td>
							<td id="fourth-pohang-cr-1">0</td>
							<td id="fourth-pohang-cr-2">0</td>
							<td id="fourth-pohang-cr-3">0</td>
							<td id="fourth-pohang-cr-spm">0</td>
							<td id="fourth-pohang-an-1">0</td>
							<td id="fourth-pohang-ss-1">0</td>
							<td id="fourth-pohang-ss-2">0</td>
							<td id="fourth-pohang-ss-3">0</td>
							<td id="fourth-pohang-ss-4">0</td>
							<td id="fourth-pohang-pk-1">0</td>
							<td id="fourth-transfer-1">0</td>
							<td id="fourth-siheung-ws-1">0</td>
							<td id="fourth-siheung-cr-1">0</td>
							<td id="fourth-siheung-cr-2">0</td>
							<td id="fourth-siheung-cr-3">0</td>
							<td id="fourth-siheung-an-1">0</td>
							<td id="fourth-siheung-ss-1">0</td>
							<td id="fourth-siheung-ss-2">0</td>
							<td id="fourth-siheung-ss-3">0</td>
							<td id="fourth-siheung-ss-4">0</td>
							<td id="fourth-siheung-pk-1">0</td>
						</tr>
						<tr>
							<td>5일차</td>
							<td id="fifth-scheduledAmount"></td>
							<td id="fifth-pohang-pp-1">0</td>
							<td id="fifth-pohang-pp-2">0</td>
							<td id="fifth-pohang-ws-1">0</td>
							<td id="fifth-pohang-ws-2">0</td>
							<td id="fifth-pohang-ws-3">0</td>
							<td id="fifth-pohang-ws-4">0</td>
							<td id="fifth-pohang-cr-1">0</td>
							<td id="fifth-pohang-cr-2">0</td>
							<td id="fifth-pohang-cr-3">0</td>
							<td id="fifth-pohang-cr-spm">0</td>
							<td id="fifth-pohang-an-1">0</td>
							<td id="fifth-pohang-ss-1">0</td>
							<td id="fifth-pohang-ss-2">0</td>
							<td id="fifth-pohang-ss-3">0</td>
							<td id="fifth-pohang-ss-4">0</td>
							<td id="fifth-pohang-pk-1">0</td>
							<td id="fifth-transfer-1">0</td>
							<td id="fifth-siheung-ws-1">0</td>
							<td id="fifth-siheung-cr-1">0</td>
							<td id="fifth-siheung-cr-2">0</td>
							<td id="fifth-siheung-cr-3">0</td>
							<td id="fifth-siheung-an-1">0</td>
							<td id="fifth-siheung-ss-1">0</td>
							<td id="fifth-siheung-ss-2">0</td>
							<td id="fifth-siheung-ss-3">0</td>
							<td id="fifth-siheung-ss-4">0</td>
							<td id="fifth-siheung-pk-1">0</td>
						</tr>
				</table>
			</div>
			<div class='sixteen wide column' style='margin-top: 50px'>
				<table class="ui celled striped table" style="width: 100%; display: flex; flex-flow: column">
					<thead style="flex: 0 0 auto; width: 100%; display: table; table-layout: fixed"><tr><th id="th1">No</th><th id="th2">COIL_NO</th><th  id="th3" style='font-weight: bold; padding: 10px'>HISTCOIL_NO</th><th  style='font-weight: bold; padding: 10px'>OPERATION</th><th style='font-weight: bold; padding: 10px'>START_TIME</th><th style='font-weight: bold; padding: 10px'>END_TIME</th><th style='font-weight: bold; padding: 10px'>MACHINE</th><th style='font-weight: bold; padding: 10px'>THICK</th><th style='font-weight: bold; padding: 10px'>WIDTH</th><th style='font-weight: bold; padding: 10px'>WEIGHT</th></tr></thead>
					<tbody id="report_s" style="max-height: 600px; width: 100%; flex: 1 1 auto; display: block; overflow-y: scroll">
					</tbody>
				</table>
			</div>
			<div class="ui modal">
				<i class="close icon"></i>
				<div class="header"></div>
				<div class="content"></div>
			</div>
		</div>
		<th:block layout:fragment="script">
			<script th:inline="javascript" id="json-data">
				// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
				jsonData = /*[[${jsonData}]]*/ {} ;
				apiURI = /*[[${apiURI}]]*/ {} ;
			</script>
			<script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
			<!-- <script type="text/javascript" th:src="@{https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.js}"></script> -->
			<script th:src="@{/bower_components/d3/d3.min.js}"></script>
			<script th:src="@{/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script>
			<script th:src="@{/bower_components/nouislider/distribute/nouislider.js}"></script>
			<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js}"></script>
			<script th:src="@{/bab/modules/schedule/jquery.singleclick.js}"></script>
			<script th:src="@{/bab/modules/schedule/schedule.js}"></script>
		</th:block>
	</body>
</html>