#menuDiv{
  /* margin:40px 40px 0 40px;*/
  text-align:center;
}

#menu:{
  max-width:1024px;
  margin:0 auto;
}

#m_btn{
  display:none;
  background-color:red;
}

#m_menu {
  background-color:#ccc;
}
#menuDiv {
  background-color:#ddd;
}
img{
  width:100%;
  height:auto;
  position:absolute;
  top:0;
  z-index:-1;
}

@media all and (max-width:630px) {
  #menu{
    display:none;
  }
  /* Added this */
  #m_menu {
    display:block;
  }
  #m_btn{
    display:inline-block;
  }
}

/*fails to fix sidebar sidebar showing @width>=631px*/
@media all and (min-width:631px) {
  /*suggested on tutsplus,no change on applying*/
  body.pushable{
    margin-left:0 !important;
  }

  /* New stuff here*/
  #m_menu {
    display:none;
  }
  #menu{
    display:block;
  }
  #m_btn{
    display:none;
  }    
}

.main.container {
  margin-top: 4em;
}

.ui.image.f-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

body .main.container {
  max-width: 100% !important;
  /*margin-right: 10% !important; */
}

/*--------------
      chart
---------------*/


#tooltip {
  position: absolute;
  height: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 3px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



/*--------------
      Item
---------------*/

.ui.menu:not(.vertical) .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select:  none;
  background: none;
  padding: 1.1em 1.14285714em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  -webkit-transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
          transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
}
.ui.menu > .item:first-child {
  border-radius: 0.28571429rem 0px 0px 0.28571429rem;
}

/* Border */
.ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: 0px;
  background: rgba(34, 36, 38, 0.1);
}

/*--------------
  Text Content
---------------*/

.ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  line-height: 1.3;
}
.ui.menu .item > p:first-child {
  margin-top: 0;
}
.ui.menu .item > p:last-child {
  margin-bottom: 0;
}



/*--------------
     Fixed
---------------*/

.ui.menu.fixed {
  position: fixed;
  z-index: 101;
  margin: 0em;
  width: 100%;
}
.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child {
  border-radius: 0px !important;
}
.ui.fixed.menu,
.ui[class*="top fixed"].menu {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
}
.ui[class*="top fixed"].menu {
  border-top: none;
  border-left: none;
  border-right: none;
}
.ui[class*="right fixed"].menu {
  border-top: none;
  border-bottom: none;
  border-right: none;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
.ui[class*="bottom fixed"].menu {
  border-bottom: none;
  border-left: none;
  border-right: none;
  bottom: 0px;
  left: 0px;
  top: auto;
  right: auto;
}
.ui[class*="left fixed"].menu {
  border-top: none;
  border-bottom: none;
  border-left: none;
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}

/* Coupling with Grid */
.ui.fixed.menu + .ui.grid {
  padding-top: 2.75rem;
}

/* helper */
.scroll-y{
	overflow-y:scroll;
}

.item.active{
	background: #eaeaea;
}

.margin.top.small{
	margin-top: 10px;
}
.margin.top{
	margin-top: 20px;
}
.margin.top.large{
  margin-top: 30px;
}
.margin.top.huge{
  margin-top: 40px;
}

/* NOUI SLIDER*/
[disabled] .noUi-connect .noUi-handle, [disabled].noUi-connect .noUi-handle {
  background: #eaeaea;
}

.hidden{
	display: none;
}

/* QTIP */
.qtip { 
	max-width: 500px !important; 
}


#fileUploadBtn {margin:0}
#fileUploadBtn>.upload {margin:0}
#upload-form-field {margin:0}
/* .job.running{background-color:#A3E4D7 !important; transition:background-color 1000ms linear} */
.job.running{animation:jobrunning 3s ease infinite;}
.job.failed{background-color:#F2D7D5 !important}
.job.succeeded{background-color:#D4E6F1 !important}
.job.content>i{vertical-align:-webkit-baseline-middle !important}
.job.content>span{vertical-align:-webkit-baseline-middle}

@keyframes jobrunning{
	0% {background-color:#E8F8F5}
	50% {background-color:#A3E4D7}
	100% {background-color:#E8F8F5}
}