<!DOCTYPE html>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Dataset</title>
    <link rel="stylesheet" th:href="@{/bab/vue-components/fileupload/fileupload.css}"/>
  </head>
  <body>
    <!-- Start Grid -->
    <div id="app" layout:fragment="content" class="ui grid">
      <div class="five wide column">
        <!-- start of segment -->
        <div class="ui top attached secondary segment">
          <h4 class="ui header"><i class="file text outline icon"></i> 최근 기록</h4>
        </div>
        <div class="ui attached segment">
          <div class="ui very relaxed divided list">
            <div v-if="repositories.length == 0" class="item">
              no repositories found
            </div>
	          <div class="item" v-for="repository in repositories" v-if="repositories.length > 0">
	            <div class="right floated content">
                <a class="ui icon red mini button show-popup" data-content="delete repository" v-on:click="deleteRepository(repository)">
                  <i class="remove icon"></i>
                </a>
              </div>
	            <i class="history middle aligned icon"></i>
	            <div class="content">
	              <a class="header" href="/bab/dashboard/{{repository.workspaceId}}/{{repository.datasetId}}/{{repository.id}}">{{repository.id}}</a>
	              <div class="description show-popup" data-content="시간">{{repository.description}}</div>
	            </div>
	          </div>
	        </div>
        </div>
        <!-- end of segment -->
      </div>
      <div class="eleven wide column">
        <!-- start of segment -->
        <div class="ui top attached secondary segment">
          <h4 class="ui header"><i class="list layout icon"></i> Mapping Dataset</h4>
        </div>
        <div class="ui attached segment">
          <div class="ui grid">
            <div class="eight wide column">
              <table class="ui definition table">
                <thead>
							    <tr>
							      <th colspan="2">Mapping Information</th>
							    </tr>
								</thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td class="ui fluid input"><input type="text" placeholder="Name" v-model="mapping.name.value" /></td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td class="ui fluid input"><input type="text" placeholder="Description" v-model="mapping.description.value" /></td>
                  </tr>
                  <tr>
                    <td>Case ID</td>
                    <td class="ui fluid input">
                      <a v-if="mapping.caseId.value" class="ui label" v-on:click="removeMapping(mapping.caseId)">
                       {{mapping.caseId.value}} <i class="icon close"></i>                      
                      </a>
                      <a class="ui label">
                       Case ID <i class="icon close"></i>                      
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Activity</td>
                    <td class="ui fluid input">
                      <a v-if="mapping.activity.value" class="ui label" v-on:click="removeMapping(mapping.activity)">
                       {{mapping.activity.value}} <i class="icon close"></i>                      
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Start Time</td>
                    <td class="ui fluid input"><input type="text" placeholder="Start Timestamp" readonly="" v-model="mapping.startTimeStamp" /></td>
                  </tr>
                  <tr>
                    <td>Complete Time</td>
                    <td class="ui fluid input"><input type="text" placeholder="Complete Timestamp" readonly="" v-model="mapping.completeTimeStamp" /></td>
                  </tr>
                  <tr>
                    <td>Event Type</td>
                    <td class="ui fluid input"><input type="text" placeholder="Event Type" readonly="" v-model="mapping.eventType" /></td>
                  </tr>
                  <tr>
                    <td>Originator</td>
                    <td class="ui fluid input"><input type="text" placeholder="Originator" readonly="" v-model="mapping.originator" /></td>
                  </tr>
                  <tr>
                    <td>Resource</td>
                    <td class="ui fluid input"><input type="text" placeholder="Resource" readonly="" v-model="mapping.resource" /></td>
                  </tr>
                  <tr>
                    <td>Attributes</td>
                    <td class="ui input"><input type="text" placeholder="Attributes" readonly="" v-model="mapping.attributes" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="eight wide column">
              <table class="ui single line table">
                <thead>
                  <tr>
                    <th>Dataset Attributes <small>(click to map)</small></th>
                  </tr>
                </thead>
	              <tbody>
							    <tr v-for="attribute in repositoryAttributes">
							      <td>
							       <a class="ui label" v-on:click="openMapping(attribute)">
							         {{attribute}} <i class="icon checkmark"></i>							         
							       </a>
							      </td>
							    </tr>
							  </tbody>
							</table>
            </div>
          </div>
        </div>
        <!-- end of segment -->
      </div>
      
      <!-- start of modal -->
	    <div class="ui small modal">
			  <i class="close icon"></i>
			  <div class="content">
				  <table class="ui single line table">
				    <thead>Select attribute to be mapped</thead>
		        <tbody>
		          <tr v-for="(key, val) in mapping">
		            <td>
		             <a class="ui label" v-on:click="selectMapping(val)">
		               {{val.label}} <i class="icon checkmark"></i>                      
		             </a>
		            </td>
		          </tr>
		        </tbody>
		      </table>		    
			  </div>
			</div>
			<!-- end of modal -->
    </div>
    <!-- End Grid -->
    
    
    <th:block layout:fragment="script">
      <script th:inline="javascript" id="json-data">
        // tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
        jsonData = /*[[${jsonData}]]*/ {} ;
      </script>
      
      <script th:src="@{/bab/modules/dataset/dataset.js}"></script>
    </th:block>
  </body>
</html>
