@import "../modules/all";

.log-summary-tab {
	i{
		margin-right: 10px;
	}
}

.log-summary-info {
	& > div:first-child{
		padding-left: 50px;
	  	padding-top: 15px;

	  	i{
	  		font-size: 40px;
	  	}

	  	h1{
	  		font-size: 14px;
			font-weight: 600;
			margin: 0 0 10px 0;
			text-transform: uppercase;
	  	}
	}

	li{
		display: inline-block;
		width: 16%;
		text-align: center;
		border-left: 1px solid #f1f2f7;
	}
}
