/* common color */
/* color theme */
.rickshaw-axis-y {
  width: 50px; }

.rickshaw-axis-y svg {
  top: -5px !important; }

.rickshaw-axis-x {
  margin-left: 50px; }

.rickshaw-chart, .rickshaw-preview, .rickshaw-legend {
  margin-left: 50px;
  margin-top: 20px; }

.rickshaw_graph .detail .x_label {
  display: none; }

.rickshaw_graph .detail .item {
  line-height: 1.4;
  padding: 0.5em; }

.detail_swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px 0 0; }

.rickshaw_graph .detail .date {
  color: #a0a0a0; }

.rickshaw-legend {
  background: #fff;
  color: #000;
  border: 1px solid #eaeaea;
  padding: 0; }

.rickshaw-chart path {
  stroke: green !important; }

/*# sourceMappingURL=rickshaw-bab.css.map */
