a.file-hover {
  display: inline-block !important;
  width: 100%; }

span.label {
  margin: 5px 0 0 5px; }

small {
  margin: 5px 0 0 0;
  clear: both; }

#upload {
  margin: 0 auto;
  padding: 10px; }
  #upload .upload-logo {
    width: 207px;
    height: 174px;
    opacity: 0.7;
    margin: 20px 20%; }
    #upload .upload-logo.empty {
      background: url("../../../../app_modules_general/layout/assets/bab/iconizr/icons/bab-main-empty.png") no-repeat;
      background-size: 75%; }
    #upload .upload-logo.full {
      background: url("../../../../app_modules_general/layout/assets/bab/iconizr/icons/bab-main-full.png") no-repeat;
      background-size: 75%; }

#drop {
  margin-bottom: 10px; }

#upload ul {
  padding-left: 0; }

#upload ul li {
  overflow: hidden; }

.panel-body ul {
  word-wrap: break-word; }

#panel-recent-log {
  padding-bottom: 25px; }
  #panel-recent-log .panel-body {
    height: 300px;
    overflow: auto; }

#panel-upload-file .panel-body {
  min-height: 300px; }

#panel-user-message .panel-body {
  min-height: 300px; }

/*# sourceMappingURL=style.css.map */
