a.file-hover{
  display: inline-block !important;
  width: 100%;
}
.file-info{

}
span.label{
  margin:5px 0 0 5px;
}
small{
  margin:5px 0 0 0;
  clear: both;
}

#upload{
    margin: 0 auto;
    padding: 10px;

    .upload-logo{
      width: 207px;
      height: 174px;      
      opacity: 0.7;
      margin: 20px 20%;
      &.empty{
        background: url("../../../../app_modules_general/base/assets/bab/iconizr/icons/bab-main-empty.png") no-repeat;
        background-size: 75%; 
      }

      &.full{
        background: url("../../../../app_modules_general/base/assets/bab/iconizr/icons/bab-main-full.png") no-repeat;
        background-size: 75%; 
      }
    }
}

#drop{
  margin-bottom: 10px;
}

#upload ul {
  padding-left: 0;
}

#upload ul li{
  overflow: hidden;
}
.panel-body ul{
  word-wrap:break-word;
}

#panel-upload-file{
  .panel-body{
    min-height: 300px;
  }
}

#panel-user-message{
  .panel-body{
    min-height: 300px;  
  }
}

.panel-file-list{
  padding-bottom: 10px;

  .panel-body{
    height: 300px;
    overflow: auto;
  }
}

.panel-search{
  border-bottom: 1px solid #eaeaea;

  .form-group:last-child{
    margin-bottom:0;
  }
}

ul.file-list li {
  padding: 10px 5px 15px 5px;
  border-bottom: 1px solid #eaeaea;

  a{
    padding: 0px 5px;
  }

  a:hover{
    background: none;
    font-weight: bold;
  }
}
