.id-row-even{
	fill:#dfdfdf;
}

.id-row-odd{
	fill:#efefef;
}

.id-col-even{
	stroke:#dfdfdf;
}

.id-col-odd{
	stroke:#efefef;
}

.las{
	display: inline-block;
    width: 12px;
    margin: 2px;
    height: 12px;
    border-radius: 6px;
    fill: white;
    stroke: black;
    background-color: white;
    border: solid 1px black;
}

.lac{
	display: inline-block;
    width: 12px;
    margin: 2px;
    height: 12px;
    border-radius: 6px;
    fill: black;
    stroke: black;
    background-color: black;
    border: solid 1px black;
}