<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title th:text="#{layout.timegap}">Timegap analysis</title>
	<link rel="stylesheet" th:href="@{/bab/vue-components/processmodel/ProcessModelComponent.css}"/>
	
	<link rel="stylesheet" th:href="@{/bower_components/nouislider/distribute/nouislider.min.css}"/>
	<link rel="stylesheet" th:href="@{/bower_components/datatables.net-dt/css/jquery.dataTables.min.css}"/>
	<style>
	#SummaryTable {
		width: 100% !important;
	}
	#SummaryTable > thead > tr > th {
		text-align: left !important;
	}
  </style>
</head>
<body>
	<div id="app" layout:fragment="content">
	  <div th:include="processmodel/control::template" th:remove="tag"> sss </div>
	  <div class="additional">
	    <div class="field">
        <div class="ui bottomslide button" data-transition="overlay" v-on:click="overallBtn">
          <i class="pin icon"></i><span th:text="#{timegap.overall}"></span>
        </div>
      </div>

      <!-- Start OverallSlide -->
      <div class="ui bottom sidebar menu overallDetail grid" style="max-height: 560px !important; min-height: 560px !important;">
        <div class="sixteen wide column">
          <div class="ui top attached tabular menu">
            <a class="active item">From-to 목록</a>
          </div>
          <div class="ui bottom attached segment">
            <table class="hover cell-border stripe" id="SummaryTable">
              <thead>
                <tr>
                  <th>From</th>
                  <th>To</th>
                  <th>Mean Time</th>
                  <th>Std. Deviation Time</th>
                  <th>Pl Count</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <!-- End OverallSlide -->
	  </div>          
    <div class="ui grid">
      <div class="fifteen wide column">
        <loader :isactive="pmData.waiting"></loader>
        <div class="ui segment processmodel-content">
          <!-- this will be process model -->
        </div>
      </div>
      <div class="one wide column middle center aligned">
        <h5 th:text="#{timegap.edgefilter}"></h5>
        <p id="sliderText">00:00:00</p>
        <div id="skipstep" style="height: 680px; margin: 30px 0 0 35px;"></div>
      </div>
    </div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript" id="json-data">
			// tutorial : http://forum.thymeleaf.org/Using-Thymeleaf-in-order-to-generate-inline-json-in-the-html-view-td4025733.html
			jsonData = /*[[${jsonData}]]*/ {} ;
			apiURI = /*[[${apiURI}]]*/ {} ;
		</script>
		
		<!-- include template script from vue-template.html and handlebars-template.html -->
		<div th:include="processmodel/handlebars-template :: template" th:remove="tag"></div>     

	  	<script th:src="@{/bower_components/nouislider/distribute/nouislider.min.js}"></script>
      <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
      
      <script th:src="@{/bower_components/d3/d3.min.js}"></script>
      <script th:src="@{/bower_components/graphlib/dist/graphlib.core.min.js}"></script>
      <script th:src="@{/bower_components/dagre/dist/dagre.core.min.js}"></script>
      <script th:src="@{/bower_components/dagre-d3/dist/dagre-d3.core.min.js}"></script>
      <script th:src="@{/bower_components/handlebars/handlebars.min.js}"></script>
      <script th:src="@{/bower_components/handlebars-helpers/src/helpers.js}"></script>
      <script th:src="@{/bab/js/HandlebarsFilter.js}"></script>
      
      <script th:src="@{/bab/vue-components/loader/LoaderComponent.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Nodee.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Nodees.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Arc.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/Arcs.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/lib/ProcessModel.js}"></script>
      <script th:src="@{/bab/vue-components/processmodel2/ProcessModelComponent.js}"></script>
      
      
      <script th:src="@{/bab/modules/patternvisualizer/timegap2.js}"></script>
<!-- 			<script>
				$('.menu .item').tab();
				$('.ui.dropdown').dropdown();
			</script>
-->
			

	</th:block>
	
</body>
</html>
