<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
  	<meta charset="utf-8" />
  </head>
  <body>
    <div th:fragment="template">
			<script type="text/x-template" id="socialnetwork-template">
				<div class="sixteen wide column">
					
					<div class="ui secondary menu">
						<a class="active item right aligned" data-tab="left" id="tab1">
							<i class="large arrow left icon"></i>
						</a>
						<a class="item" data-tab="right" id="tab2">
							<i class="large arrow right icon"></i>
						</a>
						<div class="ui icon button custom">
							<i class="large setting icon"></i>
						</div>
					</div>

					<div class="ui active tab segment social-graph" data-tab="left">
						<loader :isactive="isProcessing"></loader>
				  	<div class="ui grid">
    					<div id="graph" class="ten wide column" style="width: 100%; height: auto; min-width: 300px; max-width: 900px; display: block; margin: auto"></div>
						</div>
					</div>

					<div class="ui tab segment social-graph" data-tab="right">
						<loader :isactive="isProcessing"></loader>
						<div class="ui grid">
    					<div id="graph_color" class="ten wide column" style="width: 100%; height: auto; display: block; margin: auto"></div>
						</div>
					</div>

					<!-- Algorithms Popup -->
					<div class="ui custom popup bottom right transition hidden">
						<h3><i class="cube icon"></i><span th:text="#{social.algoithms}"></span></h3>
						<p><i class="angle right icon"></i><a class="algo1" style="cursor:pointer" th:text="#{social.subcontracting}">Subcontracting</a></p>
						<p><i class="angle right icon"></i><a class="algo2" style="cursor:pointer" th:text="#{social.handoverofwork}">Handover of work</a></p>
						<p><i class="angle right icon"></i><a class="algo3" style="cursor:pointer" th:text="#{social.workingtogether}">Working together</a></p>
						<p><i class="angle right icon"></i><a class="algo4" style="cursor:pointer" th:text="#{social.similartask}">Similar task</a></p>
						<p><i class="angle right icon"></i><a class="algo5" style="cursor:pointer" th:text="#{social.reassignment}">Reassignment</a></p>
					</div>
					<!-- modal1 -->
					<div class="ui modal modal1">
						<div class="header" th:text="#{social.subcontracting}">Subcontracting</div>
						<div class="content">
							<div class="ui grid">
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.dimensions}">Dimensions</p>
										<div class="ui segments">
											<div class="ui segment" th:text="#{social.performer}">Performer</div>
											<div class="ui segment" th:text="#{social.resources}">Resources</div>
											<div class="ui segment" th:text="#{social.data}">Data</div>
										</div>
									</div>
									<div class="ten wide column">
										<select class="ui fluid dropdown">
											<option th:text="#{social.performer}">Performers</option>
										</select>
										<p th:text="#{social.listofperformers}">List of Performers</p>
										<div class="ui fluid multiple selection dropdown" id="machin-dropdown1">
											<span class="text" th:text="#{social.selection}">Selection</span>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="ui icon search input">
													<i class="search icon"></i>
													<input type="text" placeholder="Search" />
												</div>
												<div class="item" data-value="Machine1">Machine1</div>
												<div class="item" data-value="Machine2">Machine2</div>
												<div class="item" data-value="Machine3">Machine3</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.calculationmethods}">Calculation Methods</p>
									</div>
									<div class="ten wide column">
										<div class="ui checkbox">
											<input type="checkbox" id='subCauCheckbox' checked="checked"/>
											<label th:text="#{social.consider.causality}">Consider causality</label>
										</div> <p></p>
										<div class="ui checkbox">
											<input type="checkbox" id='subMultiCheckbox' checked="checked"/>
											<label th:text="#{social.consider.instance}">Consider multiple transfers within one instance</label>
										</div> <p></p>
										<div class="ui checkbox">
											<input type="checkbox" id='subCauDirectbox' v-on:click="subcauDirectBtn"/>
											<label th:text="#{social.consider.subcontract}">Consider only direct subcontract</label>
										</div> <p></p>
										<div class="ui three column grid">
											<div class="column">
												<label th:text="#{social.beta}">Beta : </label>
												<div class="ui disabled input">
													<input type="text" value="0.5" style="width: 50px;" id='subBeta'/>
												</div>
											</div>
											<div class="column">
												<label th:text="#{social.depthofcalculation}">Depth of calculation : </label>
												<div class="ui disabled input">
													<input type="text" value="0" style="width: 50px;" id='subDepth'/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p></p>
						</div>
						<div class="actions">
							<div class="ui primary button" v-on:click="subconBtn" th:text="#{common.update}"></div>
						</div>
					</div>
					<!-- modal2 -->
					<div class="ui modal modal2">
						<div class="header" th:text="#{social.handoverofwork}">Handover of work</div>
						<div class="content">
							<div class="ui grid">
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.dimensions}">Dimensions</p>
										<div class="ui segments">
											<div class="ui segment" th:text="#{social.performer}">Performer</div>
											<div class="ui segment" th:text="#{social.resources}">Resources</div>
											<div class="ui segment" th:text="#{social.data}">Data</div>
										</div>
									</div>
									<div class="ten wide column">
										<select class="ui fluid dropdown">
											<option th:text="#{social.performer}">Performers</option>
										</select>
										<p th:text="#{social.listofperformers}">List of Performers</p>
										<div class="ui fluid multiple selection dropdown" id="machin-dropdown2">
											<span class="text" th:text="#{social.selection}">Selection</span>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="ui icon search input">
													<i class="search icon"></i>
													<input type="text" placeholder="Search" />
												</div>
												<div class="item" data-value="Machine1">Machine1</div>
												<div class="item" data-value="Machine2">Machine2</div>
												<div class="item" data-value="Machine3">Machine3</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.calculationmethods}">Calculation Methods</p>
									</div>
									<div class="ten wide column">
										<div class="ui checkbox">
											<input type="checkbox" id='handCauCheckbox' checked="checked"/>
											<label th:text="#{social.consider.causality}">Consider causality</label>
										</div> <p></p>
										<div class="ui checkbox">
											<input type="checkbox" id='handMultiCheckbox' checked="checked"/>
											<label th:text="#{social.consider.instance}">Consider multiple transfers within one instance</label>
										</div> <p></p>
										<div class="ui checkbox">
											<input type="checkbox" id='handDirectCheckbox' v-on:click="handDirectBtn"/>
											<label th:text="#{social.consider.subcontract}">Consider only direct subcontract</label>
										</div> <p></p>
										<div class="ui three column grid">
											<div class="column">
												<label th:text="#{social.beta}">Beta : </label>
												<div class="ui disabled input">
													<input type="text" value="0.5" style="width: 50px;" id='handBeta'/>
												</div>
											</div>
											<div class="column">
												<label th:text="#{social.depthofcalculation}">&nbsp;&nbsp;&nbsp;&nbsp; Depth of calculation : </label>
												<div class="ui disabled input">
													<input type="text" value="0" style="width: 50px;" id='handDepth'/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p></p>
						</div>
						<div class="actions">
							<div class="ui primary button" v-on:click="handoverBtn" th:text="#{common.update}"></div>
						</div>
					</div>
					<!-- modal3 -->
					<div class="ui modal modal3">
						<div class="header" th:text="#{social.workingtogether}">Working together</div>
						<div class="content">
							<div class="ui grid">
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.dimensions}">Dimensions</p>
										<div class="ui segments">
											<div class="ui segment" th:text="#{social.performer}">Performer</div>
											<div class="ui segment" th:text="#{social.resources}">Resources</div>
											<div class="ui segment" th:text="#{social.data}">Data</div>
										</div>
									</div>
									<div class="ten wide column">
										<select class="ui fluid dropdown">
											<option th:text="#{social.performer}">Performers</option>
										</select>
										<p th:text="#{social.listofperformers}">List of Performers</p>
										<div class="ui fluid multiple selection dropdown" id="machin-dropdown3">
											<span class="text" th:text="#{social.selection}">Selection</span>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="ui icon search input">
													<i class="search icon"></i>
													<input type="text" placeholder="Search" />
												</div>
												<div class="item" data-value="Machine1">Machine1</div>
												<div class="item" data-value="Machine2">Machine2</div>
												<div class="item" data-value="Machine3">Machine3</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.calculationmethods}">Calculation Methods</p>
									</div>
									<div class="ten wide column">
										<div class="ui form">
										  <div class="grouped fields">
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="togetherRadio" value="simultaneousRatio" checked="checked"/>
										        <label th:text="#{social.appearanceratio}">Simultaneous appearance ratio</label>
										      </div>
										    </div>
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="togetherRadio" value="withDistanceCasuality" />
										        <label th:text="#{social.consider.distance.with}">Consider distance with causality</label>
										      </div>
										    </div>
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="togetherRadio" value="withoutDistanceCasuality"/>
										        <label th:text="#{social.consider.distance.without}">Consider distance without causality (beta=0.5)</label>
										      </div>
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<p></p>
						</div>
						<div class="actions">
							<div class="ui primary button" v-on:click="workingBtn" th:text="#{common.update}"></div>
						</div>
					</div>
					<!-- modal4 -->
					<div class="ui modal modal4">
						<div class="header" th:text="#{social.similartask}">Similar task</div>
						<div class="content">
							<div class="ui grid">
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.dimensions}">Dimensions</p>
										<div class="ui segments">
											<div class="ui segment" th:text="#{social.performer}">Performer</div>
											<div class="ui segment" th:text="#{social.resources}">Resources</div>
											<div class="ui segment" th:text="#{social.data}">Data</div>
										</div>
									</div>
									<div class="ten wide column">
										<select class="ui fluid dropdown">
											<option th:text="#{social.performer}">Performers</option>
										</select>
										<p th:text="#{social.listofperformers}">List of Performers</p>
										<div class="ui fluid multiple selection dropdown" id="machin-dropdown4">
											<span class="text" th:text="#{social.selection}">Selection</span>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="ui icon search input">
													<i class="search icon"></i>
													<input type="text" placeholder="Search" />
												</div>
												<div class="item" data-value="Machine1">Machine1</div>
												<div class="item" data-value="Machine2">Machine2</div>
												<div class="item" data-value="Machine3">Machine3</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.calculationmethods}">Calculation Methods</p>
									</div>
									<div class="ten wide column">
										<div class="ui form">
										  <div class="grouped fields">
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="similarRadio" value="euclidean" checked="checked"/>
										        <label th:text="#{social.euclidian}">Euclidian distance</label>
										      </div>
										    </div>
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="similarRadio" value="correlation"/>
										        <label th:text="#{social.correlation}">Correlation coefficient</label>
										      </div>
										    </div>
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="similarRadio" value="similarity"/>
										        <label th:text="#{social.similiarity}">Similiarity coefficient</label>
										      </div>
										    </div>
										    <div class="field">
										      <div class="ui radio checkbox">
										        <input type="radio" name="similarRadio" value="hamming"/>
										        <label th:text="#{social.hammingdistance}">Hamming distance</label>
										      </div>
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<p></p>
						</div>
						<div class="actions">
							<div class="ui primary button" v-on:click="similarBtn" th:text="#{common.update}"></div>
						</div>
					</div>
					<!-- modal5 -->
					<div class="ui modal modal5">
						<div class="header" th:text="#{social.reassignment}">Reassignment</div>
						<div class="content">
							<div class="ui grid">
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.dimensions}">Dimensions</p>
										<div class="ui segments">
											<div class="ui segment" th:text="#{social.performer}">Performer</div>
											<div class="ui segment" th:text="#{social.resources}">Resources</div>
											<div class="ui segment" th:text="#{social.data}">Data</div>
										</div>
									</div>
									<div class="ten wide column">
										<select class="ui fluid dropdown">
											<option th:text="#{social.performer}">Performers</option>
										</select>
										<p th:text="#{social.listofperformers}">List of Performers</p>
										<div class="ui fluid multiple selection dropdown" id="machin-dropdown5">
											<span class="text" th:text="#{social.selection}">Selection</span>
											<i class="dropdown icon"></i>
											<div class="menu">
												<div class="ui icon search input">
													<i class="search icon"></i>
													<input type="text" placeholder="Search" />
												</div>
												<div class="item" data-value="Machine1">Machine1</div>
												<div class="item" data-value="Machine2">Machine2</div>
												<div class="item" data-value="Machine3">Machine3</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="six wide column">
										<p th:text="#{social.calculationmethods}">Calculation Methods</p>
									</div>
									<div class="ten wide column">
										<div class="ui form">
										  <div class="grouped fields">
										    <div class="field">
										      <div class="ui checkbox">
										        <input type="checkbox" name="checkbox" id='reassignCheckbox' checked="checked"/>
										        <label th:text="#{social.inoreinstance}">Ignore multiple transfers within one instance</label>
										      </div>
										    </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<p></p>
						</div>
						<div class="actions">
							<div class="ui primary button" v-on:click="reassignmentBtn" th:text="#{common.update}"></div>
						</div>
					</div>
				</div>
			</script>
    </div>
  </body>
</html>