@import "modules/all";
@import "vendor/_bootstrap";
@import "vendor/_c3";
@import "vendor/_dygraph";
@import "vendor/_multileveldropdown";
@import "vendor/_qtip";
@import "partial/_tabkeyinfo";
@import "partial/_leftsidebar";
@import "partial/utility";

.modal-superlg {
    width: 1280px;
}

.slider.slider-horizontal {
	width: 100% !important;
}

.option-slider-container {
	.slider{
		span{
			float: right;
		}
		.slider-track{
			width: 80% !important;
		}
		.slider-selection{
			background: $bg-color6;
		}
		.slider-handle{
			background: $bg-color4;
		}
	}
}

.loading-spinner{
	text-align: center;
	padding-top: 15% !important;
	span{
		display: inherit;
	}
}

aside{
	z-index: 1000;
	position: relative;
}

section#main-content{
	z-index: 0;
}

.button-howtouse{
	position: absolute;
	top: 10px;
	right: 30px;
}

.tab-pane > .button-howtouse{
	top: 50px;
}