@import "../../../../app_modules_general/base/assets/bab/scss/modules/all";

.form-signin{
	background: none !important;
	max-width: 330px;
  	margin: 100px auto 0;
	
	.user-login-info{
		border-radius: 5px;
	}

	button{
		background: $bg-color7 !important;
		color: $text-color7 !important;
		&:hover{
			background: $bg-color7-hover !important;
		}
	}

	a{
		color: $bg-color7;
	}

}
.copyright{
	max-width: 330px;
	margin: 0 auto 100px

	;
	color: $bg-color1;
	
	.footer-logo{
		margin-top: 10px;
	}

	.logo-pnu{
		background: url('../../../../app_modules_general/base/assets/bab/images/pnulogo-fix-small-white.png') no-repeat;
		background-size: 150px;
		width: 45%;
		height: 52px;
		float: left;
		margin: 5px 0 0 15px;
	}
	.logo-bsclab{
		background: url('../../../../app_modules_general/base/assets/bab/images/bsclablogo-for-dark.png') no-repeat;
		background-size: 150px;
		width: 45%;
		height: 52px;
		float: left;
		margin: 0 0 0 10px;
	}
}

.login-body{
	min-width: 350px; 
	background: url('../../../../app_modules_general/base/assets/bab/images/background3.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	padding-top: 75px !important;
}

.brand-login{
	margin: 30px auto;
}

.logo-bab-big{
	background: url("../../../../app_modules_general/base/assets/bab/images/logo-big-white.png") no-repeat;
	width: 215px;
	height: 92px;
}