/*
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Open-Sans', sans-serif;
}
*/

.graph-simul {
	 min-height: 500px;
/* 	 height: 100%; */
	 width:100%; 
	 overflow-y:visible;
}

#container {
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
  min-width: 500px;
  width: 100%;
/*   height: 900px; */
  height: inherit;
  overflow: visible;
  display: block;
  margin: auto;
}

.svg {
  width: inherit;
  height: inherit;
  overflow: visible;
  position: absolute;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.3;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#tag {
  color: #fff;
  background: #2F95E3;
  width: 150px;
  position: absolute;
  display: none;
  padding: 3px 6px;
  margin-left: -80px;
  font-size: 11px;
}

#tag:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #2F95E3;
  top: -20px;
}