/* common color */
/* color theme */
.form-signin {
  background: none !important;
  max-width: 330px;
  margin: 100px auto 0; }
  .form-signin .user-login-info {
    border-radius: 5px; }
  .form-signin button {
    background: #5EBC77 !important;
    color: #204d2c !important; }
    .form-signin button:hover {
      background: #428454 !important; }
  .form-signin a {
    color: #5EBC77; }

.copyright {
  max-width: 330px;
  margin: 0 auto 100px;
  color: #ffffff; }
  .copyright .footer-logo {
    margin-top: 10px; }
  .copyright .logo-pnu {
    background: url("../../../../app_modules_general/base/assets/bab/images/pnulogo-fix-small-white.png") no-repeat;
    background-size: 150px;
    width: 45%;
    height: 52px;
    float: left;
    margin: 5px 0 0 15px; }
  .copyright .logo-bsclab {
    background: url("../../../../app_modules_general/base/assets/bab/images/bsclablogo-for-dark.png") no-repeat;
    background-size: 150px;
    width: 45%;
    height: 52px;
    float: left;
    margin: 0 0 0 10px; }

.login-body {
  min-width: 350px;
  background: url("../../../../app_modules_general/base/assets/bab/images/background3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 75px !important; }

.brand-login {
  margin: 30px auto; }

.logo-bab-big {
  background: url("../../../../app_modules_general/base/assets/bab/images/logo-big-white.png") no-repeat;
  width: 215px;
  height: 92px; }

/*# sourceMappingURL=style.css.map */
