ul.sidebar-menu li a .icon-bab-1, ul.sidebar-menu li a .icon-bab-1\:regular, ul.sidebar-menu li a .icon-bab-2, ul.sidebar-menu li a .icon-bab-2\:regular, ul.sidebar-menu li a .icon-bab-3, ul.sidebar-menu li a .icon-bab-3\:regular, ul.sidebar-menu li a .icon-bab-4, ul.sidebar-menu li a .icon-bab-4\:regular, ul.sidebar-menu li a .icon-bab-5, ul.sidebar-menu li a .icon-bab-5\:regular, ul.sidebar-menu li a .icon-bab-6, ul.sidebar-menu li a .icon-bab-6\:regular, ul.sidebar-menu li a .icon-bab-7, ul.sidebar-menu li a .icon-bab-7\:regular, ul.sidebar-menu li a.active .icon-bab-1, ul.sidebar-menu li a.active .icon-bab-1\:regular, ul.sidebar-menu li a:hover .icon-bab-1, ul.sidebar-menu li a:hover .icon-bab-1\:regular, ul.sidebar-menu li a:focus .icon-bab-1, ul.sidebar-menu li a:focus .icon-bab-1\:regular, ul.sidebar-menu li a.active .icon-bab-2, ul.sidebar-menu li a.active .icon-bab-2\:regular, ul.sidebar-menu li a:hover .icon-bab-2, ul.sidebar-menu li a:hover .icon-bab-2\:regular, ul.sidebar-menu li a:focus .icon-bab-2, ul.sidebar-menu li a:focus .icon-bab-2\:regular, ul.sidebar-menu li a.active .icon-bab-3, ul.sidebar-menu li a.active .icon-bab-3\:regular, ul.sidebar-menu li a:hover .icon-bab-3, ul.sidebar-menu li a:hover .icon-bab-3\:regular, ul.sidebar-menu li a:focus .icon-bab-3, ul.sidebar-menu li a:focus .icon-bab-3\:regular, ul.sidebar-menu li a.active .icon-bab-4, ul.sidebar-menu li a.active .icon-bab-4\:regular, ul.sidebar-menu li a:hover .icon-bab-4, ul.sidebar-menu li a:hover .icon-bab-4\:regular, ul.sidebar-menu li a:focus .icon-bab-4, ul.sidebar-menu li a:focus .icon-bab-4\:regular, ul.sidebar-menu li a.active .icon-bab-5, ul.sidebar-menu li a.active .icon-bab-5\:regular, ul.sidebar-menu li a:hover .icon-bab-5, ul.sidebar-menu li a:hover .icon-bab-5\:regular, ul.sidebar-menu li a:focus .icon-bab-5, ul.sidebar-menu li a:focus .icon-bab-5\:regular, ul.sidebar-menu li a.active .icon-bab-6, ul.sidebar-menu li a.active .icon-bab-6\:regular, ul.sidebar-menu li a:hover .icon-bab-6, ul.sidebar-menu li a:hover .icon-bab-6\:regular, ul.sidebar-menu li a:focus .icon-bab-6, ul.sidebar-menu li a:focus .icon-bab-6\:regular, ul.sidebar-menu li a.active .icon-bab-7, ul.sidebar-menu li a.active .icon-bab-7\:regular, ul.sidebar-menu li a:hover .icon-bab-7, ul.sidebar-menu li a:hover .icon-bab-7\:regular, ul.sidebar-menu li a:focus .icon-bab-7, ul.sidebar-menu li a:focus .icon-bab-7\:regular {
  background-repeat: no-repeat; }

.icon-bab-dims {
  width: 38px;
  height: 46px;
  background-size: 38px auto;
  padding-top: 34px;
  text-align: center;
  font-size: 11px; }

ul.sidebar-menu li a .icon-bab-1, ul.sidebar-menu li a .icon-bab-1\:regular {
  background-image: url("icons/bab-1.png");
  background-image: url("icons/bab-1.png"); }
ul.sidebar-menu li a .icon-bab-2, ul.sidebar-menu li a .icon-bab-2\:regular {
  background-image: url("icons/bab-2.png");
  background-image: url("icons/bab-2.png"); }
ul.sidebar-menu li a .icon-bab-3, ul.sidebar-menu li a .icon-bab-3\:regular {
  background-image: url("icons/bab-3.png");
  background-image: url("icons/bab-3.png"); }
ul.sidebar-menu li a .icon-bab-4, ul.sidebar-menu li a .icon-bab-4\:regular {
  background-image: url("icons/bab-4.png");
  background-image: url("icons/bab-4.png"); }
ul.sidebar-menu li a .icon-bab-5, ul.sidebar-menu li a .icon-bab-5\:regular {
  background-image: url("icons/bab-5.png");
  background-image: url("icons/bab-5.png"); }
ul.sidebar-menu li a .icon-bab-6, ul.sidebar-menu li a .icon-bab-6\:regular {
  background-image: url("icons/bab-6.png");
  background-image: url("icons/bab-6.png"); }
ul.sidebar-menu li a .icon-bab-7, ul.sidebar-menu li a .icon-bab-7\:regular {
  background-image: url("icons/bab-7.png");
  background-image: url("icons/bab-7.png"); }
ul.sidebar-menu li a.active .icon-bab-1, ul.sidebar-menu li a.active .icon-bab-1\:regular, ul.sidebar-menu li a:hover .icon-bab-1, ul.sidebar-menu li a:hover .icon-bab-1\:regular, ul.sidebar-menu li a:focus .icon-bab-1, ul.sidebar-menu li a:focus .icon-bab-1\:regular {
  background-image: url("icons/bab-1.png");
  background-image: url("icons/bab-1~hover.png"); }
ul.sidebar-menu li a.active .icon-bab-2, ul.sidebar-menu li a.active .icon-bab-2\:regular, ul.sidebar-menu li a:hover .icon-bab-2, ul.sidebar-menu li a:hover .icon-bab-2\:regular, ul.sidebar-menu li a:focus .icon-bab-2, ul.sidebar-menu li a:focus .icon-bab-2\:regular {
  background-image: url("icons/bab-2.png");
  background-image: url("icons/bab-2~hover.png"); }
ul.sidebar-menu li a.active .icon-bab-3, ul.sidebar-menu li a.active .icon-bab-3\:regular, ul.sidebar-menu li a:hover .icon-bab-3, ul.sidebar-menu li a:hover .icon-bab-3\:regular, ul.sidebar-menu li a:focus .icon-bab-3, ul.sidebar-menu li a:focus .icon-bab-3\:regular {
  background-image: url("icons/bab-3.png");
  background-image: url("icons/bab-3~hover.png"); }
ul.sidebar-menu li a.active .icon-bab-4, ul.sidebar-menu li a.active .icon-bab-4\:regular, ul.sidebar-menu li a:hover .icon-bab-4, ul.sidebar-menu li a:hover .icon-bab-4\:regular, ul.sidebar-menu li a:focus .icon-bab-4, ul.sidebar-menu li a:focus .icon-bab-4\:regular {
  background-image: url("icons/bab-4.png");
  background-image: url("icons/bab-4~hover.png"); }
ul.sidebar-menu li a.active .icon-bab-5, ul.sidebar-menu li a.active .icon-bab-5\:regular, ul.sidebar-menu li a:hover .icon-bab-5, ul.sidebar-menu li a:hover .icon-bab-5\:regular, ul.sidebar-menu li a:focus .icon-bab-5, ul.sidebar-menu li a:focus .icon-bab-5\:regular {
  background-image: url("icons/bab-5.png");
  background-image: url("icons/bab-5~hover.png"); }
ul.sidebar-menu li a.active .icon-bab-6, ul.sidebar-menu li a.active .icon-bab-6\:regular, ul.sidebar-menu li a:hover .icon-bab-6, ul.sidebar-menu li a:hover .icon-bab-6\:regular, ul.sidebar-menu li a:focus .icon-bab-6, ul.sidebar-menu li a:focus .icon-bab-6\:regular {
  background-image: url("icons/bab-6.png");
  background-image: url("icons/bab-6~hover.png"); }
ul.sidebar-menu li a.active .icon-bab-7, ul.sidebar-menu li a.active .icon-bab-7\:regular, ul.sidebar-menu li a:hover .icon-bab-7, ul.sidebar-menu li a:hover .icon-bab-7\:regular, ul.sidebar-menu li a:focus .icon-bab-7, ul.sidebar-menu li a:focus .icon-bab-7\:regular {
  background-image: url("icons/bab-7.png");
  background-image: url("icons/bab-7~hover.png"); }

/*# sourceMappingURL=iconizr-png-single.css.map */
