// Icons from directory ""
%icon {
	background-repeat: no-repeat
}

@mixin icon-dimension($width, $height){
	width: $width;
	height: $height;
	background-size: $width auto; 
	padding-top: 34px;
	text-align: center;
	font-size: 11px;
}

.icon-bab-dims {
	@include icon-dimension(38px, 46px);
}

//ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus

@mixin generate-icon($number, $isHover){
	@for $i from 1 through $number {
		.icon-bab-#{$i}, .icon-bab-#{$i}\:regular{
			@extend %icon;
			background-image: url('icons/bab-#{$i}.png');

			@if $isHover == true {
				background-image: url('icons/bab-#{$i}~hover.png');
			}
			@else {
				background-image: url('icons/bab-#{$i}.png');	
			}
		}
	}
}

ul.sidebar-menu{
	li{
	    a{
	    	@include generate-icon(7, false);
	    }
    	a.active, a:hover, a:focus{
        	@include generate-icon(7, true);
      	}
  	}
}
 