.icon-bab-1,
.icon-bab-1\:regular, .icon-bab-1:hover,
.icon-bab-1\:hover, .icon-bab-2,
.icon-bab-2\:regular, .icon-bab-2:hover,
.icon-bab-2\:hover, .icon-bab-3,
.icon-bab-3\:regular, .icon-bab-3:hover,
.icon-bab-3\:hover, .icon-bab-4,
.icon-bab-4\:regular, .icon-bab-4:hover,
.icon-bab-4\:hover, .icon-bab-5,
.icon-bab-5\:regular, .icon-bab-5:hover,
.icon-bab-5\:hover, .icon-bab-6,
.icon-bab-6\:regular, .icon-bab-6:hover,
.icon-bab-6\:hover, .icon-bab-7,
.icon-bab-7\:regular, .icon-bab-7:hover,
.icon-bab-7\:hover {
  background-repeat: no-repeat; }

.icon-bab-dims {
  width: 38px;
  height: 38px;
  background-size: 38px auto; }

.icon-bab-1,
.icon-bab-1\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 0; }

.icon-bab-1:hover,
.icon-bab-1\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -150px; }

.icon-bab-2,
.icon-bab-2\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 -300px; }

.icon-bab-2:hover,
.icon-bab-2\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -450px; }

.icon-bab-3,
.icon-bab-3\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 -600px; }

.icon-bab-3:hover,
.icon-bab-3\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -750px; }

.icon-bab-4,
.icon-bab-4\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 -900px; }

.icon-bab-4:hover,
.icon-bab-4\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -1050px; }

.icon-bab-5,
.icon-bab-5\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 -1200px; }

.icon-bab-5:hover,
.icon-bab-5\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -1350px; }

.icon-bab-6,
.icon-bab-6\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 -1500px; }

.icon-bab-6:hover,
.icon-bab-6\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -1650px; }

.icon-bab-7,
.icon-bab-7\:regular {
  background-image: url("icons/icons.png");
  background-position: 0 -1800px; }

.icon-bab-7:hover,
.icon-bab-7\:hover {
  background-image: url("icons/icons.png");
  background-position: 0 -1950px; }

/*# sourceMappingURL=iconizr-png-sprite.css.map */
