<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>BAB v2.3 :: Job Manager </title>
	<meta th:if="${refresh>0}" http-equiv="refresh" content="5" />
 	<style>
		:root {
			--color-black: #100; 
			--color-heavy: #600; 
			--color-light: #fcc; 
			--color-white: #fff;
			/*		
			--color-black: #100; 
			--color-heavy: #300; 
			--color-light: #fcc; 
			--color-white: #fff;
			*/
			/* 
			--color-black: #010; 
			--color-heavy: #030; 
			--color-light: #cfc; 
			--color-white: #fff;
			*/ 
			/* 
			--color-black: #001; 
			--color-heavy: #003; 
			--color-light: #ccf; 
			--color-white: #fff;
			*/ 
		}
	
		* {
			font-family: sans-serif;
		}
		
		a {
			text-decoration: none;
			color: inherit;
		}
		
		a:hover {
			text-decoration: underline;
		}

		body {
			padding: 0;
			margin: 0;
			padding-top: 2rem;
		}
		
		body > nav {
			position: fixed;
			top: 0;
			left: 0;
			background-color: var(--color-light);
			border-top: solid 1px var(--color-black);
			border-bottom: solid 1px var(--color-black);
			width: 100%;
		}
		
		body > nav > h1 {
			display: inline-block;
			font-size: inherit;
			padding: 0.5rem;
			padding-left: 1rem;
			padding-right: 1rem;
			margin: 0;
			border-right: solid 1px var(--color-black);
			background-color: var(--color-heavy);
			color: var(--color-white);
		}
		
		body > nav > a {
			display: inline-block;
			padding: 0.5rem;
		}
		
		body > nav > a:hover {
			background-color: var(--color-heavy);
			color: var(--color-white);
			text-decoration: none;
		}
		
		body > nav > a.active {
			font-weight: bold;
			text-transform: uppercase;			
			background-color: var(--color-heavy);
			color: var(--color-white);
		}
		
		main {
			padding: 1rem;
		}
	
		main > section {
			display: none;
		}
		
		main > section.active {
			display: block !important;
		}
		
		article > header {
			border-bottom: solid 1px var(--color-black);
			margin-bottom: 1rem;
		}
		
		table {
			width: 100%;
		}
		
		table, th, td {
			border: solid 1px var(--color-black);
			border-collapse: collapse;
			padding: 0.25rem;
			text-align: center;
		}
		
		thead > tr > th {
			background-color: var(--color-heavy);
			color: var(--color-white);
		}
		
		tbody > tr > th {
			text-align: left;
			font-weight: normal;
		}
		
		tr:nth-child(even) {
			background-color: var(--color-light);
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		li > label {
			display: inline-block;
			min-width: 150px;
			font-weight: bold;
			padding: 0.25rem;
		}

	</style>
</head>
<body>
	<nav>
		<h1>
			BAB v2.3 :: JOB MANAGER
		</h1>
		<a href="#overview">Overview</a>
		<a href="#services">Services</a>
		<a href="#jobs" class="active">Jobs</a>
	</nav>
	<main>
		<section id="overview">
			<article>
				<header>
					<h2>
						Overview
					</h2>
				</header>
				<section>
					<ul>
						<li>
							<label>BAB</label>: 
							<span th:text="${{config.title}}"></span>
						</li>
						<li>
							<label>Version</label>:
							<span th:text="${{config.name}}"></span>-<span th:text="${{config.version}}"></span>
						</li>
					</ul>
				</section>
			</article>
			<article>
				<header>
					<h2>
						Job Manager Service
					</h2>
				</header>
				<section>
					<ul>
						<li>
							<label>Job Manager</label>: 
							<span th:text="${{config.serviceJobManager}}"></span>
						</li>
						<li>
							<label>Session Id</label>: 
							<span th:text="${{jobmanager.sessionId}}"></span>
						</li>
						<li>
							<label>Max Simlt. Run</label>: 
							<span th:text="${{jobmanager.maxSimultaneousRun}}"></span>
						</li>
					</ul>
				</section>
			</article>
			<article>
				<header>
					<h2>
						Job Executor Service
					</h2>
				</header>
				<section>
					<ul>
						<li>
							<label>Job Executor</label>: 
							<span th:text="${{config.serviceJobExecutor}}"></span>
						</li>
					</ul>
				</section>
			</article>
		</section>
		<section id="services">
			<article>
				<header>
					<h2>
						Available Packages
					</h2>
				</header>
				<section>
					<ol>
						<li th:each="jarName:${jobmanager.getJars(0).keySet()}">
							<label th:text="${{jarName}}"></label>: 
							<ol>
								<li th:each="packageId:${jobmanager.getJars(0).get(jarName).keySet()}">
									<label th:text="${{packageId}}"></label>/
									<ol>
										<li th:each="service:${jobmanager.getJars(0).get(jarName).get(packageId)}">
											<label th:text="${{service.getService().name()}}"></label>
											(v<span th:text="${{service.getService().version()}}"></span>)
										</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</section>
			</article>
			<article>
				<header>
					<h2>
						Available Services
					</h2>
				</header>
				<section>
					<ul>
						<li th:each="service:${services}">
							<label th:text="${{service.value}}"></label>: 
							<span th:text="${{service.key}}"></span>
						</li>
					</ul>
				</section>
			</article>
		</section>
		<section id="jobs" class="active">
			<article>
				<header>
					<h2>
						Active Jobs (<label th:text="${{jobmanager.running.size()}}"></label>)
					</h2>
				</header>
				<section>
					<table>
						<thead>
							<tr>
								<th width="10%">Job Id</th>
								<th width="20%">Name</th>
								<th width="10%">Created</th>
								<th width="10%">Started</th>
								<th width="10%">Author</th>
								<th width="10%">Status</th>
								<th width="30%">Remarks</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="job:${jobmanager.running.values()}">
								<td>
									<label th:text="${{job.id}}"></label>
									<a th:href="@{../job/status/{jobId}(jobId=${job.id})}" target="_blank">Status</a>
									<a th:href="@{../job/kill/{jobId}(jobId=${job.id})}" target="_blank">Kill</a>
								</td>
								<th th:text="${{job.name}}"></th>
								<td th:text="${{#dates.format(job.created, 'yyyy-MM-dd HH:mm:ss')}}"></td>
								<td th:text="${{#dates.format(job.started, 'yyyy-MM-dd HH:mm:ss')}}"></td>
								<td th:text="${{job.author}}"></td>
								<td th:text="${{job.status}}"></td>
								<th th:text="${{job.remarks}}"></th>
							</tr>
						</tbody>
					</table>
				</section>
			</article>
			<article>
				<header>
					<h2>
						Job Queue (<label th:text="${{jobmanager.queue.size()}}"></label>)
					</h2>
				</header>
				<section>
					<table>
						<thead>
							<tr>
								<th width="10%">Job Id</th>
								<th width="20%">Name</th>
								<th width="10%">Created</th>
								<th width="10%">Author</th>
								<th width="10%">Status</th>
								<th width="40%">Remarks</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="job:${jobmanager.queue.values()}">
								<td>
									<label th:text="${{job.id}}"></label>
									<a th:href="@{../job/status/{jobId}(jobId=${job.id})}" target="_blank">Status</a>
									<a th:href="@{../job/cancel/{jobId}(jobId=${job.id})}" target="_blank">Cancel</a>
								</td>
								<th th:text="${{job.name}}"></th>
								<td th:text="${{#dates.format(job.created, 'yyyy-MM-dd HH:mm:ss')}}"></td>
								<td th:text="${{job.author}}"></td>
								<td th:text="${{job.status}}"></td>
								<th th:text="${{job.remarks}}"></th>
							</tr>
						</tbody>

					</table>
				</section>
			</article>
			<article>
				<header>
					<h2>
						Completed Jobs (<label th:text="${{jobmanager.completed.size()}}"></label>)
					</h2>
				</header>
				<section>
					<table>
						<thead>
							<tr>
								<th width="10%">Job Id</th>
								<th width="20%">Name</th>
								<th width="10%">Created</th>
								<th width="10%">Started</th>
								<th width="10%">Finished</th>
								<th width="10%">Author</th>
								<th width="10%">Status</th>
								<th width="20%">Remarks</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="job:${jobmanager.completed.values()}">
								<td>
									<label th:text="${{job.id}}"></label>
									<a th:href="@{../job/status/{jobId}(jobId=${job.id})}" target="_blank">Status</a>
								</td>
								<th th:text="${{job.name}}"></th>
								<td th:text="${{#dates.format(job.created, 'yyyy-MM-dd HH:mm:ss')}}"></td>
								<td th:text="${{#dates.format(job.started, 'yyyy-MM-dd HH:mm:ss')}}"></td>
								<td th:text="${{#dates.format(job.finished, 'yyyy-MM-dd HH:mm:ss')}}"></td>
								<td th:text="${{job.author}}"></td>
								<td th:text="${{job.status}}"></td>
								<th th:text="${{job.remarks}}"></th>
							</tr>
						</tbody>
				</table>
				</section>
			</article>
		</section>
	</main>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			var m = document.getElementsByTagName("nav")[0].children;
			for (var i in m) {
				var e = m[i];
				if (e.tagName == "A") {
					e.addEventListener("click", activateTab);
				}
			}
		});
		function activateTab(caller) {
			var id = caller.srcElement.getAttribute("href");
			var m = document.getElementsByTagName("nav")[0].children;
			for (var i in m) {
				var e = m[i];
				if (e.tagName == "A") {
					e.classList.remove("active");
					if (e.getAttribute("href") == id) {
						e.classList.add("active");
					}
				}
			}
			var m = document.getElementsByTagName("main")[0].children;
			for (var i in m) {
				var e = m[i];
				if (e.tagName == "SECTION") {
					e.classList.remove("active");
					if ("#" + e.getAttribute("id") == id) {
						e.classList.add("active");
					}
				}
			}
		}
	</script>
</body>
</html>