<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<title>login</title>

<link rel="stylesheet"  th:href="@{/bower_components/semantic/dist/semantic.css}" />
<link rel="stylesheet" th:href="@{/bab/modules/login/login.css}" />

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/bower_components/semantic/dist/semantic.min.js}"></script>
<script th:src="@{/bower_components/vue/dist/vue.js}"></script>
</head>
<body>
	<div id="app" class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui teal image header">
				<img id="login_image" class="image" th:src="@{/bab/images/smartfactory.png}"  />
			</h2>
			<div class="ui warning message loginInfo" th:if="${param.code}">
				<i class="close icon"></i>
				<div th:text="${param.code[0]}==1?'login fail':'logout successed'"></div>
			</div>
			<form class="ui large form" method="POST" th:action="@{login}">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" id="username" name="username" placeholder="user's id" value="woo_admin"/>
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" id="password" name="password" placeholder="user's password"  value="woo_admin"/>
						</div>
					</div>
					<div class="ui fluid large teal submit button">login</div>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/bab/modules/login/login.js}"></script>
</body>
</html>
