@import "../../../../base/assets/bab/scss/modules/all";

@media (min-height: 768px) {
  ul.sidebar-menu{
    height: 82%;

    li a{
      padding: 10px 0 25px 10px;
    }
    
    .copyright{
      width: 100%;
      position: absolute;
      bottom: 20px;
    }
  }
}

@media (max-height: 768px) {
  ul.sidebar-menu{
    margin-bottom: 10px;
  }

  .copyright {
    width: 100%;
    margin-top: 25px;    
  }
}

#sidebar {
    overflow: scroll !important;  /* or 'visible' whatever */
}

#sidebar > ul > li > ul.sub {
    clear: both;
}

.copyright .logo-bsclab{
  background: url("../../../../base/assets/bab/images/bsclablogo-for-dark.png") no-repeat;
  background-size: 160px;
  height: 55px;
  margin-left: 15px;
}

.logo-logminer{
  background: url("../../../../base/assets/bab/images/logo-logminer.png") no-repeat;
  width: 53px;
  height: 52px;
  float: left;
}
.logo-text{
  background: url("../../../../base/assets/bab/images/logo-text.png") no-repeat;
  width: 100px;
  height: 52px;
  float: left;
}

a.logo {
  margin: 10px 0;
}

.sidebar-toggle-box {
  margin-left: 30px;
}

.sidebar-toggle-box .fa-bars {
  padding: 7px 8px;
  border: 1px solid darken($bg-color4, 5%);
  width: 35px;
  border-radius: 25px;
  height: 35px;
  color: #fff;
  background: $bg-color4;

  &:hover{
  background: darken($bg-color4, 20%);  
    border: 1px solid darken($bg-color4, 25%);
  }
}

.sidebar-toggle-box {
  margin-top: 12px;
}

.header.green-bg{
  background: $bg-color7;
  border-bottom: 1px solid darken($bg-color7, 10%);
}

.bg-theme {
    background-color: $bg-color4;
    border: 1px solid darken($bg-color4, 5%);
}

ul.top-menu > li > a:hover, 
ul.top-menu > li > a:focus {
    border:1px solid #fff !important;
    border-color: #fff !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff !important;
}

.box1 span {
  font-size: inherit;
}

.box-repo-info {
  padding-bottom:15px;

  span.li_data{
    font-size: 30px;
  }

  span.workspaceid{
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
  }
}

.dropdown-menu.extended li p.green {
  background-color: $bg-color4;
  color: #fff;
}

.notify-arrow-green {
  border-color: transparent transparent $bg-color4;
  border-bottom-color: $bg-color4 !important;
  border-top-color: $bg-color4 !important;
}

.modal-header{
  background: $bg-color4;
}

.slide-bottom .weather-2-header {
  padding: 10px;

  & .go-top {
    background: none;
    margin-right: 10px;

    & i{
      color: #000;
    }

    &:hover i{
      color: #fff;
    }
  }

}

legend {
  font-size: 18px;
}

.nav.top-menu ul li a{
  white-space: inherit
}
.login-row{
  margin-top: 15px;
}

a.profile.dropdown-toggle{
  min-width: 150px;
}

ul.dropdown-menu.profile {
  width: 100px !important;
}

ul.dropdown-menu.workspace{
  width: 200px !important;  
}

b.caret.pull-right {
  margin-top: 10px;
}


.file-list > li {
  a{
    margin-bottom: 5px;
  }

  .label {
    padding: 0.5em .8em 0.5em;
    font-size: 80%;
    font-weight: normal;
    color: #777;
  }  
}