/* common color */
/* color theme */
.slide-panel .slide-icon {
  font-size: 20px; }
.slide-panel .slide-content {
  display: none; }
.slide-panel.visible .slide-content {
  display: block; }
  .slide-panel.visible .slide-content fieldset {
    padding: 0; }

/* aash1010 */
.slide-side {
  border: 1px solid #eaeaea;
  float: right;
  margin-right: -280px;
  max-width: 300px;
  position: fixed;
  right: 30px;
  top: 150px;
  width: 300px;
  padding-bottom: 20px; }
  .slide-side .panel-body {
    max-height: 500px;
    overflow-y: scroll; }
    .slide-side .panel-body .slide-side-subpanel {
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 10px;
      display: inline-block;
      width: 100%;
      background: inherit; }
  .slide-side .slide-icon-active {
    display: none; }
  .slide-side .slide-icon-inactive {
    display: block; }
  .slide-side.visible .slide-icon-active {
    display: block; }
  .slide-side.visible .slide-icon-inactive {
    display: none; }

.slide-bottom {
  height: 400px;
  border: 1px solid #eaeaea;
  position: fixed;
  bottom: 0;
  width: 72%;
  margin: 0 0 -350px 30px; }
  .slide-bottom .slide-icon-active {
    display: none; }
  .slide-bottom .slide-icon-inactive {
    display: block; }
  .slide-bottom.visible .slide-icon-active {
    display: block; }
  .slide-bottom.visible .slide-icon-inactive {
    display: none; }
  .slide-bottom .panel-heading .nav {
    display: inline-block; }
    .slide-bottom .panel-heading .nav li {
      border-right: 1px solid #204d2c; }
      .slide-bottom .panel-heading .nav li a span {
        display: none; }
      .slide-bottom .panel-heading .nav li a:hover {
        background: none; }
    .slide-bottom .panel-heading .nav li.active a {
      background: none; }
      .slide-bottom .panel-heading .nav li.active a span {
        display: inline;
        margin-left: 10px; }
  .slide-bottom .panel-body .tab-content {
    height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none outside none; }

/*# sourceMappingURL=slide-panel.css.map */
